In [1]:
import pandas as pd
import numpy as np

In [16]:
test = pd.read_csv('./titanic/test.csv')
train = pd.read_csv('./titanic/train.csv')
gender = pd.read_csv('./titanic/gender_submission.csv')

test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [14]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [17]:
gender.isnull().sum()

PassengerId    0
Survived       0
dtype: int64

In [5]:
np.loadtxt('./titanic/test.csv')
# 문자열을 읽어들이지 못함 따라서 문자열을 숫자로 바꾸어 주어야함

ValueError: could not convert string to float: 'PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked'

In [9]:
d = train.values #dataframe을 numpy로 불러들임 문자를 숫자처럼 읽어들임
print(d.shape, type(d))

(891, 12) <class 'numpy.ndarray'>

In [18]:
train_data = train.values
test_data = test.values
gender_data = gender.values